// 配置的主题色
$themecolor = #fc4f49
$bgcolor = #f0f0f0
// 绿的字体色
$greencolor = #6fdbb7
// 蓝的字体色
$bluecolor = #4dacf1

allcover()
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

// 宽高
wh($width, $height)
  width: $width
  height: $height

font($size, $color)
  font-size: $size
  color: $color

// 不换行
ellipsis()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap